<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="./img/icon.ico" type="image/x-icon">
   <link rel="stylesheet" href="./views/src/history_style.css">
   <title>History of all tasks</title>
</head>

<body>

   <div class="modal">
      <img src="./img/checkmark-black-32.png" alt="Done">
      <span class="content">Done</span>
   </div>

   <header>
      <h1>
         History
      </h1>
      <button onclick="document.location = '/'">
         Home
      </button>
      <button id="clear-btn" onclick="clearHistory(this)">
         Clear history
      </button>
   </header>

   <div class="main-content">

   </div>
   <div id="empty">
      Empty
   </div>

   <script src="./jquery.js"></script>
   <script src="./views/src/history_script.js"></script>

   <% if (locals.tasks.length > 0) { %>
   <script>
      emptyBanner.hide();
   </script>
   <% for (let task of tasks) { %>
   <script>
      makeTask("<%= task.content %>", Number("<%= task.timestamp %>"));
   </script>
   <% } %>
   <% } %>
</body>

</html>