<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
      @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&display=swap");

      body {
         font-family: "Open Sans";
         margin: 0;
         padding: 0;
         background-color: #bdc3c7;
         font-size: 16px;
      }
      header {
         display: block;
         position: relative;
         width: 100%;
         height: 80px;
         background-color: #485460;
         border-bottom: 3px solid #2f3542;
      }
      header h1 {
         position: absolute;
         color: #fff;
         font-size: 3em;
         top: -.6em;
         left: 3em;
      }
      header button {
         position: absolute;
         right: 250px;
         padding: 15px 30px;
         text-transform: uppercase;
         top: 15px;
         background-color: #0a3d62;
         color: #fff;
         border: none;
         cursor: pointer;
         transition: all .3s ease;
      }
      header button:focus { outline: none; }
      header button:hover {
         background-color: #1168a7;
         box-shadow: 0 0 40px #1e90ff, 0 0 80px #1e90ff;
      }
      #clear-btn {
         right: 20px;
         padding: 15px 45px;
      }
      .main-content {
         position: relative;
         width: 95%;
         margin: 0 auto;
      }
      .main-content .task {
         position: relative;
         display: block;
         width: 100%;
         padding: 20px;
      }
      .main-content .task:not(:first-child) {
         border-top: 1px solid #333;
      }
      .modal {
         position: absolute;
         display: grid;
         width: 350px;
         height: 100px;
         top: 20px;
         left: 20px;
         z-index: 995;
         grid-template-columns: 1fr 2fr;
         align-content: center;
         justify-content: center;
         background-color: rgba(76, 209, 55, 0.9);
         border-radius: 5px;
         pointer-events: none;
         filter: opacity(0);
         transition: all .3s ease, filter 0s;
      }
      .modal span.content {
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         right: 50px;
         color: #fff;
         font-size: 1.5em;
      }
      .modal img {
         position: relative;
         left: 110px;
         bottom: 5px;
         width: 36px;
         height: 36px;
      }
      #empty {
         position: absolute;
         float: none;
         display: flex;
         width: 400px;
         height: 200px;
         justify-content: center;
         align-items: center;
         margin-left: calc(50% - 200px);
         margin-top: 10%;
         color: #fff;
         font-size: 2.2em;
         /* display: none; */
      }
   </style>
   <title>History of all tasks</title>
</head>
<body>

   <div class="modal">
      <img src="./src/img/checkmark-black-32.png" alt="Done">
      <span class="content">Done</span>
   </div>

   <header>
      <h1>
         History
      </h1>
      <button onclick="document.location = '/'">
         Home
      </button>
      <button id="clear-btn" onclick="clearHistory(this)">
         Clear history
      </button>
   </header>

   <div class="main-content">

   </div>
   <div id="empty">
      Empty
   </div>

   <script src="./src/jquery.js"></script>
   <script>
      let taskCount = 0, 
         emptyBanner = $("#empty");

         function makeTask(content, timestamp) {
         let task = $("<div>", {
            "class": "task"
         }),
         taskContent = $("<p>", {
            html: content,
            "class": "content"
         }),
         taskTimestamp = $("<p>", {
            html: `${getDay(new Date(timestamp).getDay())} ${new Date(timestamp).getDate()} 
               ${getMonth(new Date(timestamp).getMonth())} ${new Date(timestamp).getFullYear()}
               ${new Date(timestamp).getHours()}:${new Date(timestamp).getMinutes()}`, 
            "class": "timestamp" 
         });

         task.append(taskContent, taskTimestamp);
         $(".main-content").append(task);

         taskCount++;
      }

      function clearHistory(element) {
         if ($(".main-content").find(".task").length > 0) {

            emptyBanner.show("fast");

            fetch("/history", {
               method: "DELETE"
            }).then(res => res.text()).then(res => console.log(res));

            $(".main-content").children(".task").remove();

            showModalWindow();
         }
      }

      function getDay(date) {
         switch(date) {
            case 1: return "Mon";
            case 2: return "Tue";
            case 3: return "Wed";
            case 4: return "Thu";
            case 5: return "Fri";
            case 6: return "Sat";
            case 7: return "Sun";
         }
      }
      function getMonth(month) {
         switch(month) {
            case 0: return "Jan";
            case 1: return "Feb";
            case 2: return "Mar";
            case 3: return "Apr";
            case 4: return "May";
            case 5: return "Jun";
            case 6: return "Jul";
            case 7: return "Aug";
            case 8: return "Sep";
            case 9: return "Oct";
            case 10: return "Nov";
            case 11: return "Dec";
         }
      }

      function showModalWindow() {
         let modal = $(".modal");
         modal.css("transition", "filter 75ms linear");
         modal.css("filter", "opacity(1)");
         setTimeout(() => {
            modal.css("filter", "opacity(0)");
            modal.css("transition", "filter .3s ease");
         }, 750);
      }
   </script>

   <% if (locals.tasks.length > 0) { %> 
      <script>
         emptyBanner.hide();
      </script>
      <% for (let task of tasks) { %> 
         <script>
            makeTask("<%= task.content %>", Number("<%= task.timestamp %>"));
         </script>
      <% } %> 
   <% } %> 
</body>
</html>
