<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Page not found">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="./views/src/not-found.css">
   <title>Document</title>
</head>

<body>
   <header>
      <h2>
         To Do
      </h2>
   </header>
   <article>
      <h1>
         404
      </h1>
   </article>
   <aside>
      Page
      <span class="path">
         <%= path %>
      </span>
      not found.
   </aside>
   <div class="go-back">
      <button onclick="location.href = '/login'">
         Go back
      </button>
   </div>
</body>

</html>