@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;700&display=swap");
/* font-family: 'Baloo Tamma 2', cursive;  -Logo- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&display=swap");
/* font-family: 'Open Sans', sans-serif; -Content- */
* {
  margin: 0;
  padding: 0;
}
*::selection {
  background-color: rgba(85, 230, 193, 0.75);
}

body {
  background-color: #bdc3c7;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  transition: background-color .2s ease;
}

.text-col {
  color: #fff;
  transition: all .2s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo Tamma 2', cursive;
  user-select: none;
}

kbd {
  display: inline-block;
  text-indent: 0;
  color: #fff;
  background-color: rgba(24, 17, 17, 0.863);
  border-radius: 5px;
}

header {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #485460;
  border-bottom: 3px solid #2f3542;
}
header .logo-img {
  position: relative;
  margin-left: 20px;
  float: left;
  height: 100%;
  width: 100px;
}
header .logo-img .logo {
  position: absolute;
  top: 7px;
  margin-left: 5px;
  width: 80px;
  height: 80px;
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .logo {
  position: relative;
  float: left;
  margin-left: 10px;
  color: #fff;
  font-size: 88px;
  text-transform: uppercase;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: bold;
  line-height: 1.15;
  cursor: default;
}
header #options {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  float: right;
  width: 20%;
  height: 100%;
  margin-right: 80px;
  user-select: none;
}
header #options button {
  width: 120px;
  height: 50px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #0a3d62;
  border: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: background-color .3s ease, box-shadow 1s ease;
}
header #options button:hover {
  background-color: #1168a7;
  box-shadow: 0 0 40px #1e90ff, 0 0 80px #1e90ff;
}
header #options button:hover ul.content {
  height: 230px;
  width: 160px;
  margin-left: -20px;
}
header #options button ul.content {
  position: absolute;
  margin-top: 15px;
  height: 0;
  width: 120px;
  z-index: 999;
  background-color: #0a3d62;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  transition: all .5s ease;
  font-weight: normal;
  box-sizing: border-box;
}
header #options button ul.content li {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #options button ul.content li:hover {
  background-color: #0f5a90;
}
header #options button ul.content li:nth-of-type(1) {
  height: 40px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
header #options button ul.content li:nth-of-type(2) {
  height: 80px;
  border-bottom: 2px solid black;
}
header #options button ul.content li:nth-of-type(3) {
  height: 50px;
  border-bottom: 2px solid black;
}
header #options button ul.content li:nth-of-type(4) {
  height: 50px;
  border-bottom: 2px solid black;
}
header #options button ul.content li #bgcol {
  display: block;
  width: 18px;
  min-width: 18px;
  height: 12px;
  min-height: 12px;
  overflow: visible;
  position: relative;
  margin-top: 35px;
  left: -30px;
  background-color: #d1d8e0;
}
header #options button ul.content li #textcol {
  display: block;
  width: 18px;
  min-width: 18px;
  height: 12px;
  min-height: 12px;
  overflow: visible;
  position: relative;
  margin-top: 20px;
  left: -30px;
  background-color: white;
}
header #options button:focus {
  outline: none;
}
header #options:focus {
  outline: none;
}

#input {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}
#input .wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 470px;
  margin-left: 120px;
  background-color: #485460;
  border-radius: 25px;
  overflow: hidden;
  transition: width .5s ease;
  z-index: 6;
}
#input .wrapper img {
  position: relative;
  display: block;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
}
#input input[type=text] {
  position: relative;
  display: block;
  width: 370px;
  height: 50px;
  z-index: 1;
  margin: 0 auto;
  font-size: 16px;
  border: none;
  background-color: #485460;
  transition: width .6s ease;
}
#input input[type=text]:focus {
  outline: none;
}
#input input[type=text]::placeholder {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  z-index: 1;
}
#input #insert {
  position: relative;
  height: 50px;
  width: 100px;
  left: -10px;
  color: #fff;
  text-transform: uppercase;
  background-color: #485460;
  outline: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s ease;
  z-index: 2;
}
#input #insert:hover {
  background-color: #1e90ff;
  box-shadow: 0 0 30px rgba(30, 144, 255, 0.75);
}
#input #insert .circle {
  position: absolute;
  top: 0;
  border-radius: 50%;
  left: -35px;
  height: 50px;
  width: 50px;
  background-color: #bdc3c7;
  z-index: 3;
  transition: background-color .2s ease;
}
#input #insert span {
  position: relative;
  left: 7px;
}

.main-content {
  position: relative;
  box-sizing: content-box;
  width: 95%;
  min-height: 100px;
  margin: 50px auto 0 auto;
  overflow-x: hidden;
}
.main-content .task {
  position: relative;
  display: block;
  width: 100%;
  height: 75px;
  margin-top: 15px;
  box-sizing: content-box;
  border-radius: 5px;
  transition: all .3s linear, border 0s, height .25s;
}
.main-content .task:hover {
  border: 1px solid rgba(51, 51, 51, 0.35);
  height: 100px;
}
.main-content .task:hover .content {
  height: 50px;
  font-size: 1.35em;
}
.main-content .task:hover .content::after {
  width: 98%;
}
.main-content .task:first-child {
  margin-top: 0;
}
.main-content .task:nth-of-type(2n - 1) {
  background-color: rgba(51, 51, 51, 0.1);
}
.main-content .task .content {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
.main-content .task .content::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 20%;
  height: 1px;
  margin: 1% 0 0 10px;
  background-color: rgba(47, 53, 66, 0.25);
  transition: width .3s ease;
}
.main-content .task .timestamp {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 250px;
  margin-top: 7px;
  margin-left: 1%;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: #eee;
}
.main-content .task input[type=checkbox].task-check {
  position: relative;
  float: left;
  top: 2px;
  width: 18px;
  height: 18px;
  z-index: 3;
  opacity: 0;
}
.main-content .task input[type=checkbox].task-check:hover {
  cursor: pointer;
}
.main-content .task input[type=checkbox].task-check:checked {
  opacity: 0;
}
.main-content .task input[type=checkbox].task-check:checked ~ span.checkbox img {
  display: block;
}
.main-content .task span.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  width: 18px;
  height: 18px;
  z-index: 2;
  background-color: #485460;
}
.main-content .task span.checkbox img {
  width: 14px;
  height: 14px;
  display: none;
}
.main-content .task p {
  float: right;
  width: 96%;
  font-size: 18px;
  margin-left: 1.5%;
}
.main-content .task .separate-line {
  display: block;
  position: relative;
  width: 95%;
  height: 1px;
  margin: 0 auto;
  top: -20px;
  background-color: #2f3542;
  transition: width .3s ease;
}

#banner-empty {
  position: absolute;
  display: flex;
  width: 95%;
  height: 100px;
  top: 42.5vh;
  margin: 0 2.5% 0 2.5%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#banner-empty h1 {
  margin-top: 10px;
}
#banner-empty::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  height: 1px;
  width: 95%;
  background-color: black;
}
#banner-empty::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  height: 1px;
  width: 85%;
  background-color: black;
}

#banner_help {
  position: absolute;
  display: none;
  width: 95%;
  height: 95%;
  top: 2.5%;
  left: 2.5%;
  opacity: 1;
  z-index: 999;
  transition: height .3s ease;
}
#banner_help .node {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 16.666%;
  background-color: #485460ec;
  color: #fff;
  text-indent: 20px;
  font-size: 18px;
  cursor: default;
}
#banner_help #close-btn {
  position: absolute;
  display: block;
  width: 5%;
  height: 30px;
  opacity: 1;
  bottom: 20px;
  left: 45%;
  background-color: #0a3d62;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color .15s ease, box-shadow .3s ease;
}
#banner_help #close-btn:hover {
  background-color: #1168a7;
  box-shadow: 0 0 40px #1e90ff, 0 0 80px #1e90ff;
}
#banner_help #close-btn:focus {
  outline: none;
}
