@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;700&display=swap");
/* font-family: 'Baloo Tamma 2', cursive;  -Logo- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&display=swap");
/* font-family: 'Open Sans', sans-serif; -Content- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
/* font-family: 'Montserrat', sans-serif; Extra light 200, light 300 */

@font-face {
  font-family: "Fira Code";
  src: url("fonts/subset-FiraCode-Regular.eot");
  src: local("Fira Code Regular"), local("FiraCode-Regular"),
    url("fonts/subset-FiraCode-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/subset-FiraCode-Regular.woff2") format("woff2"),
    url("fonts/subset-FiraCode-Regular.woff") format("woff"),
    url("fonts/subset-FiraCode-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Fira Code";
  src: url("fonts/subset-FiraCode-Light.eot");
  src: local("Fira Code Light"), local("FiraCode-Light"),
    url("fonts/subset-FiraCode-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/subset-FiraCode-Light.woff2") format("woff2"),
    url("fonts/subset-FiraCode-Light.woff") format("woff"),
    url("fonts/subset-FiraCode-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
